<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UpsPath" value="https://www.ups.com/ups.app/xml/Track"/>
    <add key="UpsAccessKey" value="XXXXXXXXXXXXXXXX"/>
    <add key="UpsUsername" value="username"/>
    <add key="UpsPassword" value="password"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>